@charset "utf-8";

h2 {
  font-size: 20px;
}

.app {
  min-height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* App header */
.app-header {
  display: block;
  padding: 1em;
  background-color: #28666e;
  color: #ffffff;
  margin: 0;
}

.app-header-title {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
}

.app-header-logo {
  display: inline-block;
  vertical-align: middle;
  padding-right: 1em;
}

.app-logo {
  height: 35px;
}

/* List container */
.list-container {
  background-color: #3e3d3d;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.list-container-fixed-content {
  display: block;
}

.search-places-input-wrapper {
  display: inline-block;
  width: 75%;
  padding-bottom: 5px;
}

.hamburguer-nav {
  display: inline-block;
  padding: 0.5em 1em;
}

.hamburguer-icon {
  color: #ffffff;
}

.search-input-text {
  width: 100%;
  border: 1px solid #d8d4d4;
  height: 2em;
  border-radius: 2px;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
  color: black;
}

.places-grid {
  list-style-type: none;
}

.place-active {
  font-weight: bold;
  text-shadow: 0.5px 0.5px #d8d4d4;
}

.place-li :hover {
  cursor: pointer;
}

.list-view {
  overflow: hidden;
  display: block;
}

.list-view-hidden {
  overflow: hidden;
  display: none;
}

/* Map container */
.map-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Info window */

.info-window-header {
  width: 100%;
  color: #3e3d3d;
}

.info-window-header :after
{
    content:' ';
    display:block;
    border:1px solid #28666e;
}

.gm-style-iw {
  top: 0px !important;
  left: 10px !important;
}

.infowindow-content-image {
  border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
}

.infowindow-content-rating{
  margin-right: 5px;
  float: left;
  font-weight: bold;
}

#loading-rotate {
  animation: rotate360 1s infinite linear;
}

@keyframes rotate360 {
  100% {
      transform: rotate(360deg);
  }
}