@charset "utf-8";

.app {
  min-height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* App header */
.app-header {
  display: block;
  padding: 1em;
  background-color: #28666e;
  color: #ffffff;
  margin: 0;
}

.app-header-title {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
}

.app-header-logo {
  display: inline-block;
  vertical-align: middle;
  padding-right: 1em;
}

.app-logo {
  height: 35px;
}

/* List container */
.list-container {
  background-color: #3e3d3d;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.search-places-input-wrapper {
  width: 90%;
}

.search-input-text {
  width: 100%;
  border: 1px solid #d8d4d4;
  height: 2em;
  border-radius: 2px;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}

.places-grid {
  list-style-type: none;
}

.place-active {
  font-weight: bold;
  text-shadow: 0.5px 0.5px #d8d4d4;
}

/* Map oontainer */
.map-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}